<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gtja.foldingscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:maxAspectRatio="1.5"
        android:resizeableActivity="false">
        <activity
            android:name=".AspectRatioActivity"
            android:maxAspectRatio="1.35"
            android:resizeableActivity="false"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetNavigationStateActivity"
            android:resizeableActivity="false" />
    </application>

</manifest>